<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>멋쟁이사자::To-Do List</title>
    <link rel="stylesheet" th:href="@{/styles_todolist.css}"/>
</head>
<body>
<div class="container">
    <h1>To-Do List(In Memory)</h1>
    <form th:action="@{todos}" method="post">
        <input type="text" name="task" placeholder="Enter a new task"/>
        <button type="submit">ADD</button>
    </form>
    <div class="todo-list">
        <ul>
            <li th:each="task: ${todos}">
                <form th:action="@{/todos/toggle}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}" />
                    <input type="checkbox" onclick="this.form.submit();" th:checked="${task.completed}"/>
                </form>

                <span th:text="${#strings.length(task.description) > 16 ? #strings.substring(task.description, 0, 15) + '...' : task.description}"
                      th:title="${task.description}"
                      th:classappend="${task.completed} ? 'completed' : ''"></span>


                <form th:action="@{/todos/update}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}"/>
                    <input type="text" name="newDescription" placeholder="Edit Task" required size="10"/>
                    <button type="submit">UPDATE</button>
                </form>

                <form th:action="@{/todos/delete}" method="post">
                    <input type="hidden" name="taskId" th:value="${task.id}"/><button type="submit">DELETE</button>
                </form>
            </li>
        </ul>
    </div>
</div>
</body>
</html>